<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeplay.mapper.userLeave.UserLeaveMapper">
	
	<select id="getUserLeave" parameterType="Integer" resultType="LeaveVo">
        select * from leave where user_no = #{user_no}
    </select>
    
    <select id="getUserLeaveRequest" parameterType="Integer" resultType="Leave_ApprovalVo">
        select * from leave_approval where user_no = #{user_no}
    </select>
    
</mapper>

