<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeplay.mapper.alarm.AlarmMapper">
	
    <select id="findAll" parameterType="Integer" resultType="AlarmVo">
        select * from alarm a
        where user_no = #{user_no}
        order by alarm_status desc, alarm_no
    </select>

    <select id="insert" parameterType="AlarmVo" resultType="AlarmVo">
        INSERT INTO alarm
        (alarm_content, alarm_status, alarm_kind, user_no, alarm_date, alarm_send_user_no, go_to_url, alarm_data_no, alarm_index)
        VALUES(#{alarm_content}, 0, #{alarm_kind}, #{user_no}, now(), #{alarm_send_user_no}, #{go_to_url}, #{alarm_data_no}, #{alarm_index})
        returning *
    </select>

    <update id="updateStatus" parameterType="Integer">
        UPDATE alarm
        SET alarm_status=1
        WHERE alarm_no =#{alarm_no};
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM alarm
        WHERE alarm_no =#{alarm_no};
    </delete>

</mapper>

