<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeplay.mapper.userAttend.UserAttendMapper">
	<!-- 사용자의 전체 출퇴근(근태) 내역 : user_no 사용 -->
    <select id="findAttendByUserNo" parameterType="Integer" resultType="AttendanceVO">
        SELECT * FROM attendance 
        WHERE user_no =#{user_no}
        ORDER BY date(attend_date) DESC
    </select>
    
    <!-- 사용자의 이상 출퇴근(근태) 내역, 결재 진행중인 내역은 제외 : user_no 사용 -->
    <select id="findWrongAttendByUserNo" parameterType="Integer" resultType="AttendanceVO">
        SELECT distinct a.attend_no, a.user_no, a.attend_start, a.attend_end, a.attend_status, a.attend_date, a.attend_total 
        FROM attendance a
        LEFT JOIN attendance_edit_approval aea ON a.attend_no = aea.attend_no
        WHERE a.user_no =#{user_no}
        AND (aea.attendapp_status IS NULL OR aea.attendapp_status != 2)
        AND (a.attend_status = '결근' OR a.attend_status = '지각' OR a.attend_status = '조퇴')
        ORDER BY a.attend_date desc
    </select>
    
    <!-- 사용자의 웝별 출퇴근(근태) 내역 : user_no, month 사용 -->
    <select id="findAttendByUserNoMonth" parameterType="Integer" resultType="AttendanceVO">
       select * from attendance where user_no =#{user_no}
        and date_part('month', attend_date) = #{month}
        order by attend_date desc
    </select>
    
    <!-- 사용자의 선택한 날짜의 출퇴근(근태) 내역 : user_no, date 사용 -->
    <select id="findAttendByUserNoDate" parameterType="Integer" resultType="AttendanceVO">
    select * from attendance where user_no = #{user_no}
	    and date_part('year', attend_date) = #{year}
	    and date_part('month', attend_date) = #{month}
	    and date_part('day', attend_date) = #{day}
		and attend_status != '초과' and attend_status != '연장'
	</select>
    
    <!-- 사용자가 속한 부서의 근태담당자 내역 : dept_no 사용 -->
	<select id="findManagerByDeptNo" parameterType="Integer" resultType="UserVO">
		select * from attendance_manager am 
			join users u on u.user_no = am.user_no 
			where dept_no = ${dept_no} 
	</select>
	
	<!-- 사용자의 오늘 날짜 출퇴근/내역 : user_no 사용 -->
    <select id="findTodayByUserNo" parameterType="Integer" resultType="AttendanceVO">
        select * from attendance 
        where user_no =#{user_no}
        and date(attend_date) = date(now())
        ORDER BY attend_no DESC
      	LIMIT 1
    </select>
    
    <!-- 사용자의 출근입력-->
    <insert id="startInsert" parameterType="AttendanceVO">
		<![CDATA[ 
		INSERT INTO attendance (user_no, attend_start, attend_date, attend_status)
			VALUES (
			  #{user_no},
			  CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul',
			  CURRENT_DATE,
			  CASE
			    WHEN EXTRACT(HOUR FROM NOW()) >= EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
			    	THEN '지각'
			    ELSE '정상'
			  END
			)
		]]>
	</insert>
	
	<!-- 사용자의 퇴근입력-->
  <update id="endInsert" parameterType="AttendanceVO">
    <![CDATA[
	   UPDATE attendance
		SET
		    attend_end = NOW(),
		    attend_total = 
		       CASE
		            WHEN EXTRACT(HOUR FROM NOW()) >= EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) < EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN ((SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}) - (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no})) - interval '1 hour'::interval
		            WHEN EXTRACT(HOUR FROM NOW()) >= EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) >= EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN ((SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}) - (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) - interval '1 hour'::interval
		            WHEN EXTRACT(HOUR FROM NOW()) < EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) < EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN (NOW()::time - (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		            WHEN EXTRACT(HOUR FROM NOW()) < EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) >= EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN (NOW()::time - (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1))
		            ELSE
		                NULL -- 다른 경우에는 NULL 또는 다른 값을 설정할 수 있습니다.
		        END,
		    attend_status =
		        CASE
		            WHEN EXTRACT(HOUR FROM NOW()) >= EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) < EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN '정상'
		            WHEN EXTRACT(HOUR FROM NOW()) >= EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) >= EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN '지각'
		            WHEN EXTRACT(HOUR FROM NOW()) < EXTRACT(HOUR FROM (SELECT p.standard_end_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                AND EXTRACT(HOUR FROM (SELECT attend_start FROM attendance WHERE user_no = #{user_no} ORDER BY attend_no DESC LIMIT 1)) < EXTRACT(HOUR FROM (SELECT p.standard_start_time FROM policy p INNER JOIN user_policy up ON p.policy_no = up.policy_no WHERE up.user_no = #{user_no}))
		                THEN '조퇴'
		            ELSE '결근'
		        END
		WHERE attend_no = (
		    SELECT attend_no
		    FROM attendance
		    WHERE user_no = #{user_no}
		    ORDER BY attend_no DESC
		    LIMIT 1
	)
    ]]>
  </update>

	<!-- 사용자의 주간 근무시간 일별로-->
		<select id="getUserAttendTotal" parameterType="Integer" resultType="AttendanceVO">
			SELECT 
		    COALESCE(a.attend_date, g.generate_series) AS attend_date,
		    COALESCE(CAST(attend_total AS TIME), '00:00:00') AS attend_total
		FROM (
		    SELECT generate_series(
		        DATE_TRUNC('week', NOW()),
		        DATE_TRUNC('week', NOW()) + INTERVAL '6 days',
		        INTERVAL '1 day'
		    )::DATE AS generate_series
		) g
		LEFT JOIN attendance a ON a.user_no = #{user_no} AND a.attend_date = g.generate_series AND a.attend_status IN ('정상', '지각', '조퇴', '결근')
		ORDER BY attend_date ASC
		</select>
		
	<!-- 사용자의 주간 휴가시간 일별로-->
		<select id="getUserAttendLeaveTotal" parameterType="Integer" resultType="AttendanceVO">
		SELECT 
		    COALESCE(a.attend_date, g.generate_series) AS attend_date,
		    COALESCE(CAST(attend_total AS TIME), '00:00:00') AS attend_total
		FROM (
		    SELECT generate_series(
		        DATE_TRUNC('week', NOW()),
		        DATE_TRUNC('week', NOW()) + INTERVAL '6 days',
		        INTERVAL '1 day'
		    )::DATE AS generate_series
		) g
		LEFT JOIN attendance a ON a.user_no = #{user_no} AND a.attend_date = g.generate_series AND a.attend_status IN ('휴가(연차)', '휴가(오전반차)', '휴가(오후반차)', '휴가(공가)')
		ORDER BY attend_date ASC
		</select>
		
		<!-- 사용자의 주간 초과근무시간 일별로-->
		<select id="getUserAttendOverTotal" parameterType="Integer" resultType="AttendanceVO">
		SELECT 
		    COALESCE(a.attend_date, g.generate_series) AS attend_date,
		    COALESCE(CAST(attend_total AS TIME), '00:00:00') AS attend_total
		FROM (
		    SELECT generate_series(
		        DATE_TRUNC('week', NOW()),
		        DATE_TRUNC('week', NOW()) + INTERVAL '6 days',
		        INTERVAL '1 day'
		    )::DATE AS generate_series
		) g
		LEFT JOIN attendance a ON a.user_no = #{user_no} AND a.attend_date = g.generate_series AND a.attend_status IN ('연장', '초과')
		ORDER BY attend_date ASC

		</select>
	
	<!-- 부서별 사원들의 일별근태 현황 -->
	<select id="seeUsersAttendDay" parameterType="Integer" resultType="com.codeplay.domain.attend.vo.UsersAttendVo">
		SELECT
		    d.dept_no,
		    d.dept_name,
		    da.user_no,
		    da.dept_designated_date,
		    u.user_name,
		    u.user_position,
		    a.attend_no,
		    a.attend_start,
		    a.attend_end,
		    a.attend_status,
		    a.attend_total,
		    a.attend_date
		FROM
		    dept d
		INNER JOIN
		    dept_assign da ON d.dept_no = da.dept_no
		INNER JOIN
		    users u ON da.user_no = u.user_no
		INNER JOIN
		    attendance a ON u.user_no = a.user_no
		   	where d.dept_no = #{dept_no}
		ORDER BY
	    CASE 
	        WHEN u.user_position = '부장' THEN 1
	        WHEN u.user_position = '팀장' THEN 2
	        WHEN u.user_position = '과장' THEN 3
	        WHEN u.user_position = '대리' THEN 4
	        WHEN u.user_position = '사원' THEN 5
	        ELSE 6
	     end

	</select>
	<!-- 부서별 사원들의 주별근태 현황 -->
	<select id="seeUsersAttendWeek" resultType="com.codeplay.domain.attend.vo.UsersAttendWeekVo">
			 <![CDATA[
	SELECT
	    d.dept_no,
	    d.dept_name,
	    da.user_no,
	    da.dept_designated_date,
	    u.user_name,
	    u.user_position,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '-1 days' THEN a.attend_status END) AS monday_status,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '0 days' THEN a.attend_status END) AS tuesday_status,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '1 days' THEN a.attend_status END) AS wednesday_status,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '2 days' THEN a.attend_status END) AS thursday_status,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '3 days' THEN a.attend_status END) AS friday_status,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '4 days' THEN a.attend_status END) AS saturday_status,
	    MAX(CASE WHEN a.attend_date = week_start + INTERVAL '5 days' THEN a.attend_status END) AS sunday_status,
	     CONCAT(
        EXTRACT(HOUR FROM interval '1 second' * SUM(EXTRACT(EPOCH FROM a.attend_total))),
        '시간 ',
        EXTRACT(MINUTE FROM interval '1 second' * SUM(EXTRACT(EPOCH FROM a.attend_total))),
        '분'
    ) AS total_time
	FROM
	    dept d
	INNER JOIN
	    dept_assign da ON d.dept_no = da.dept_no
	INNER JOIN
	    users u ON da.user_no = u.user_no
	LEFT JOIN
	    attendance a ON u.user_no = a.user_no
	CROSS JOIN LATERAL (
	    SELECT
	        date_trunc('week', #{week_monday}::DATE) + interval '1 day' AS week_start
	) AS week_start_info
	WHERE
	    d.dept_no = #{dept_no}
	    AND a.attend_date + INTERVAL '1 days' >= week_start
    AND a.attend_date < week_start + INTERVAL '6 days' 
	GROUP BY
	    d.dept_no,
	    d.dept_name,
	    da.user_no,
	    da.dept_designated_date,
	    u.user_name,
	    u.user_position
	ORDER BY
	    CASE 
	        WHEN u.user_position = '부장' THEN 1
	        WHEN u.user_position = '팀장' THEN 2
	        WHEN u.user_position = '과장' THEN 3
	        WHEN u.user_position = '대리' THEN 4
	        WHEN u.user_position = '사원' THEN 5
	        ELSE 6
	    end  ]]>
		
	</select>
	<!-- 1번 부서 사원들 결근시 자동 insert -->
	<insert id = "autoInsert" parameterType="AttendanceVO">
		INSERT INTO attendance (user_no, attend_status, attend_date)
			SELECT 
			    n AS user_no,
			    '결근' AS attend_status,
			    CURRENT_DATE AS attend_date
			FROM (
			    SELECT generate_series(1, 7) AS n
			) AS numbers
			WHERE NOT EXISTS (
			    SELECT 1
			    FROM attendance
			    WHERE user_no = numbers.n
			        AND attend_date = CURRENT_DATE
			)
			 AND EXTRACT(ISODOW FROM CURRENT_DATE) NOT IN (6,7)

		
	</insert>
	<!-- 사용자의 주간근무시간(합) -->
	<select id="getUserAttendWeek" resultType="com.codeplay.domain.attend.vo.AttendanceWeekTotalResponseVo"> 
		 SELECT 
			DATE_TRUNC('week', attend_date) AS week_start_date,
			COALESCE(SUM(attend_total), '00:00:00') AS attend_total
			FROM attendance
			WHERE user_no = #{user_no}
			  AND DATE_TRUNC('week', attend_date) = DATE_TRUNC('week', now())
			  AND attend_status not IN ('초과')
			GROUP BY DATE_TRUNC('week', attend_date)
	</select>
	
	<!-- 사용자의 주간초과근무시간(합) -->
	<select id="getUserAttendWeekOver" resultType="com.codeplay.domain.attend.vo.AttendanceWeekTotalResponseVo"> 
		 SELECT 
			DATE_TRUNC('week', attend_date) AS week_start_date,
			COALESCE(SUM(attend_total), '00:00:00') AS attend_total
			FROM attendance
			WHERE user_no = #{user_no}
			  AND DATE_TRUNC('week', attend_date) = DATE_TRUNC('week', now())
			  AND attend_status IN ('초과')
			GROUP BY DATE_TRUNC('week', attend_date)
	</select>
		
	
	
	</mapper>


