<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeplay.mapper.userAttend.UserAttendEditMapper">
	<!-- 전체 출퇴근(근태) 수정 내역 가져오기 : user_no 사용 -->
    <select id="findAttendByUserNo" parameterType="Integer" resultType="AttendanceVO">
        select * from Attendance where user_no =#{user_no}
    </select>
</mapper>


